html, body {
    margin: 0px;
}
.imgArt{
    width: 275px;
    height: 200px;
}
h1{
    text-align: center;
}
#contenedorArticulos{
    min-height: 400px;
}
#scrollArticulos{
    width: 1000px;
    margin: 0 auto;
    overflow: auto;
    white-space: nowrap;
}
.art-scroll{
    display: inline-block;
    text-align: center;
    padding: 14px;
}
#divBtnAccionArticulo, #divBtnCrearArticulo{
    width: 100%; 
    display: flex;
}
#crearArticulo{
    width: 100%; 
    display: flex;
    margin-bottom: 20px;
}
#formCrearArticulo{
    width: 50%; 
    margin: 0 auto;
    display: none;
}
#btnAccionArticulo, #btnCrearArticulo{
    width: 200px; 
    margin: 10px auto;
}
form span{
    width: 100%;
    height: auto;
    display: block;
    color: red;
}
#tablaAsync{
    width: 80%;
    margin: 20px auto;
}